:root {
  --outline-size: 20rem;
  --outline-color: #a3ff3f;
}

body {
  margin: 10;
  font-size: 1rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.face{
  width: 30rem;
  height: 30rem;
  position: relative;
}

.outline {
  width: var(--outline-size);
  height: var(--outline-size);
  border: none;
  border-radius:50%;
  padding: 2rem;
  background-color: var(--outline-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.controls {
  width: 10rem;
  height: 20rem;
  border: 2px solid black;
  margin: 50px;
  position: relative;
  padding: 2rem;

}
