:root {
  --outline-size: 20rem;
  --outline-color: #a3ff3f;
  --eyes: 2rem;
  --eyes-distance: 4rem;
  --eyes-margin-top: -3rem;
  --eyes-margin-left: -3rem;
  --eyes-color: #ff0000;
  --eye-balls: 1rem;
  --eye-balls-distance: 4rem;
  --eye-balls-margin-top: -2.5rem;
  --eye-balls-margin-left: -2.5rem;

}

body {
  margin: 10;
  font-size: 1rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.face{
  width: 30rem;
  height: 30rem;
  position: relative;
}

.outline {
  width: var(--outline-size);
  height: var(--outline-size);
  border: none;
  border-radius:50%;
  padding: 2rem;
  background-color: var(--outline-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.eyes {
  width: var(--eyes);
  height: var(--eyes);
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: var(--eyes-distance) 0px 0px 0px white;
  position: absolute;
  top: 50%;
  left:50%;
  right: 50%;
  bottom: 50%;
  margin: var(--eyes-margin-top) 0 0 var(--eyes-margin-left);
}

.eye-balls {
  width: var(--eye-balls);
  height: var(--eye-balls);
  border: none;
  border-radius: 50%;
  background-color: var(--eyes-color);
  box-shadow: var(--eye-balls-distance) 0px 0px 0px var(--eyes-color);
  position: absolute;
  top: 50%;
  left:50%;
  right: 50%;
  bottom: 50%;
  margin: var(--eye-balls-margin-top) 0 0 var(--eye-balls-margin-left);
}

.controls {
  width: 10rem;
  height: 20rem;
  border: 2px solid black;
  margin: 50px;
  position: relative;
  padding: 2rem;

}
